/* -----------------------------------------
   iframe内のbody
----------------------------------------- */

body {
  color: #FFFFFF;
  font-family: Arial, sans-serif;
}

/* --- PC --- */
@media (min-width: 960px) {
  body {
    font-size: 48px;
    line-height: 64px;
  }
}

/* --- Tablet --- */
@media (min-width: 768px) and (max-width: 960px) {
  body {
    font-size: 24px;
    line-height: 32px;
  }
}

/* --- Mobile --- */
@media (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}

/* -----------------------------------------
   iframe内の
----------------------------------------- */

