/* -----------------------------------------
   Custom Utility Classes
----------------------------------------- */

.h-3\/5 {
  height: 60%;
}

/* ================================
   Main Layout
================================ */

/* main を確実に前面に出す */
main {
  position: relative;
  z-index: 1;
}

/* -----------------------------------------
   全体レスポンシブ
----------------------------------------- */

/* --- PC --- */
@media (min-width: 960px) {
  .main-contents {
    width: 20%;
  }
}

/* --- Tablet --- */
@media (min-width: 768px) and (max-width: 960px) {
  .main-contents {
    width: 35%;
  }
}

/* --- Mobile --- */
@media (max-width: 767px) {
  .main-contents {
    width: 100%;
    margin-bottom: 16px;
    justify-content: center;
  }
}

/* ================================
   Body
================================ */

.body-contents {
  position: fixed;
  top: 50%;
  left: 2rem;
  right: 2rem;
  height: 60%;
  transform: translateY(-50%);
  z-index: 30;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ================================
   main-contents
================================ */
/* 左側バナー */
.main-contents.left {
  align-items: flex-start;
  display: flex;
  width: 100%;
  height: 100%;
}
/* 右側ナビ */
.main-contents.right {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  height: 100%;
}
/* Tablet */
@media (min-width: 768px) and (max-width: 960px) {
  .main-contents.right {
    padding-right: 24px;
  }
}

/* ================================
   Banner
================================ */

.home-banners {
  padding: 32px;
  height: 100%;
}

.news-contents {
  text-align: center;
  height: 50%;

}

.news-contents.bottom {
  margin-top: 16px;
}

/* ================================
   Logo
================================ */

.logo-area {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 40;
}

/* ================================
   Navigation
================================ */

.navi-frame {
  height: 100%;
  display: flex;
  flex-direction: column; /* ←縦並びにする重要ポイント */
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.nav-contents {
  font-size: 48px;
  line-height: 64px;
  transition: color .3s;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 960px) {
  .nav-contents {
    font-size: 24px;
    line-height: 32px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .navi-frame {
    gap: 16px;
    justify-content: flex-end;
  }
  .nav-contents {
    font-size: 16px;
    line-height: 24px;
  }
}

.nav-contents:hover {
  color: #60a5fa;
}

/* ================================
   Iframe
================================ */

#iframe-container {
  box-sizing: border-box;
  z-index: 20;
  width: 100%;
  height: calc(100vh - 64px);
  padding: 0;

  position: absolute;
  top: 0;
  left: 0;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 960px) {
  #iframe-container {
    height: calc(100vh - 32px);
  }
}

/* Mobile */
@media (max-width: 767px) {
  #iframe-container {
    height: calc(100vh - 24px);
  }
}

/* ================================
   Footer
================================ */

.footer {
  text-align: center;
  width: 100%;
  font-size: 28px;
  line-height: 64px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 960px) {
  .footer {
    font-size: 16px;
    line-height: 32px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .footer {
    font-size: 12px;
    line-height: 24px;
  }
}
