/* ================================
   SVGColor
================================ */
:root {
  --color-gold: #f5d76e;
  --color-gold-shadow: rgba(245, 215, 110, 0.35);
}

/* ================================
   
================================ */

/* ================================
   
================================ */
